[user]
	name = theindigamer
	email = theindigamer15@gmail.com
[core]
	editor = emacs
	excludesfile = /home/varun/.gitignore_global
[push]
	default = simple
[merge]
tool = mymeld
conflictstyle = diff3
[mergetool "mymeld"]
cmd = meld $LOCAL $BASE $REMOTE --output $MERGED

[url "https://"]
    insteadOf = git://
